  <footer class="stripe  stripe--darkgray  flex-item  flex-item--footer">
    <div class="content-wrapper  dec-footer">
      <div class="dec-footer__item  dec-footer__item--logo  mob-hidden">
        <a class="dec-footer__logo-img" href="//dec-place.com">
          <img width="189" height="137" src="img/logos/logo-footer.svg" alt="DEC place logo">
        </a>
      </div>
      <h3 class="dec-footer__mobile-caption">Оренда і&nbsp;співробітництво</h3>
      <div class="dec-footer__item  dec-footer__item--tel">
        <span class="dec-footer__phone">+380 44 495 51 87</span>
        <span class="dec-footer__phone">+380 50 330 21 51</span>
      </div>
      <div class="dec-footer__item  dec-footer__item--internets">
        <a class="dec-footer__www" href="//dec-place.com">www.dec-place.com</a>
        <a class="dec-footer__email" href="mailto:Larisa.Kharchuk@dec.ua">Larisa.Kharchuk@dec.ua</a>
      </div>

      <div class="dec-footer__item">
        <a class="sn sn--fb" href="https://www.facebook.com/decplacepresents" target="_blank" title="Мы на Facebook">Мы на Facebook</a>
        <a class="sn sn--yt" href="https://www.youtube.com/user/DECEDUCOM" target="_blank" title="Мы на YouTube">Мы на YouTube</a>
      </div>
    </div>
  </footer>
